<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="kapsel-plugin-calendar"
    version="4.4.4">

    <name>Calendar</name>

    <engines>
      <engine name="cordova" version="&gt;=6.5.0" />
      <engine name="cordova-android" version="&gt;=6.1.2" />
      <engine name="cordova-ios" version="&gt;=4.3.1" />
    </engines>

   <description>
     This plugin allows allows you to manipulate the native calendar. / Doc URL: https://github.com/EddyVerbruggen/Calendar-PhoneGap-Plugin/blob/master/README.md
   </description>

   <author>Eddy Verbruggen</author>

   <license>MIT</license>

    <dependency id="kapsel-plugin-corelibs" />
    
    <js-module name="Calendar" src="www/calendar.js">
        <clobbers target="Calendar"/>
    </js-module>

    <!-- ios -->
   <platform name="ios">
      <config-file target="config.xml" parent="/*">
         <feature name="Calendar">
            <param name="ios-package" value="SMPCalendarPlugin" />
         </feature>
      </config-file>
      <source-file src="ios/libs/libSMPCalendarPlugin.a" framework="true"/>
      <framework src="EventKit.framework" />
      <framework src="EventKitUI.framework" />

      <preference name="CALENDARS_USAGE_DESCRIPTION" default=" " />
      <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
          <string>$CALENDARS_USAGE_DESCRIPTION</string>
      </config-file>
   </platform>
   
   <!-- android -->
   <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="Calendar">
            <param name="android-package" value="com.sap.mp.cordova.plugins.calendar.Calendar" />
         </feature>
      </config-file>
     <config-file target="AndroidManifest.xml" parent="/manifest">
       <uses-permission android:name="android.permission.READ_CALENDAR"/>
       <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
     </config-file>
     <source-file src="android/libs/calendar-android-3.15.8.aar" target-dir="libs"/> 
     <framework src="android/smp_calendar.gradle" custom="true" type="gradleReference" />
   </platform>

</plugin>
