<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sap.fiori" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fiori Client</name>
    <author>CompanyName</author>
    <description>
        A custom Fiori Client application.
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />

    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="false"/>
    <preference name="helpUrl" value="https://help.sap.com/doc/d55f83e12e4b40779158fbaf08fe0f14/1.9/en-US/index.html" />
    <preference name="trustUserCertificates" value="true"/>

    <hook type="before_prepare" src="scripts/before_prepare/updateAppConfig.js" />

    <engine name="ios" spec="~4.4" />
    <engine name="android" spec="~6.2" />
    <engine name="windows" spec="5.0.0" />

    <plugin name="cordova-plugin-camera" spec="2.4.0" />
    <plugin name="cordova-plugin-contacts" spec="2.3.0" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="2.3.0" />
    <plugin name="cordova-plugin-device" spec="1.1.5" />
    <plugin name="cordova-plugin-dialogs" spec="1.3.2" />
    <plugin name="cordova-plugin-file" spec="4.3.1" />
    <plugin name="cordova-plugin-geolocation" spec="2.4.2" />
    <plugin name="cordova-plugin-screen-orientation" spec="1.4.3" />
    <plugin name="cordova-plugin-splashscreen" spec="4.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="2.2.2" />
    <plugin name="cordova-plugin-network-information" spec="1.3.2" />
    <plugin name="cordova-plugin-privacyscreen" spec="0.3.1" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.2" />
    <plugin name="de.appplant.cordova.plugin.printer" spec="*" />
    <plugin name="kapsel-plugin-apppreferences" spec="*" />
    <plugin name="kapsel-plugin-attachmentviewer" spec="*" />
    <plugin name="kapsel-plugin-authproxy" spec="*" />
    <plugin name="kapsel-plugin-barcodescanner" spec="*" />
    <plugin name="kapsel-plugin-cachemanager" spec="*" />
    <plugin name="kapsel-plugin-calendar" spec="*" />
    <plugin name="kapsel-plugin-cdsprovider" spec="*" />
    <plugin name="kapsel-plugin-encryptedstorage" spec="*" />
    <plugin name="kapsel-plugin-federationprovider" spec="*" />
    <plugin name="kapsel-plugin-fioriclient" spec="*" />
    <plugin name="kapsel-plugin-inappbrowser" spec="*" />
    <plugin name="kapsel-plugin-inappbrowser-xwalk" spec="*" />
    <plugin name="kapsel-plugin-logger" spec="*" />    
    <plugin name="kapsel-plugin-logon" spec="*" />
    <plugin name="kapsel-plugin-multidex" spec="*" />
    <plugin name="kapsel-plugin-online" spec="*" />
    <plugin name="kapsel-plugin-settings" spec="*" />
    <plugin name="kapsel-plugin-push" spec="*" />
    <plugin name="kapsel-plugin-toolbar" spec="*" />
    <plugin name="kapsel-plugin-usage" spec="*" />
    <plugin name="kapsel-plugin-voicerecording" spec="*" />
    <plugin name="cordova-plugin-customurlscheme" spec="4.2.0" >
        <variable name="URL_SCHEME" value="com.sap.fiori.xcallbackurl" />
    </plugin>

    <platform name="android">
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />

        <splash src="res/screen/android/drawable-land-hdpi.png" density="land-hdpi"/>
        <splash src="res/screen/android/drawable-land-ldpi.png" density="land-ldpi"/>
        <splash src="res/screen/android/drawable-land-mdpi.png" density="land-mdpi"/>
        <splash src="res/screen/android/drawable-land-xhdpi.png" density="land-xhdpi"/>

        <splash src="res/screen/android/drawable-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/drawable-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/drawable-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/drawable-port-xhdpi.png" density="port-xhdpi"/>

        <allow-intent href="market:*" />
        <allow-intent href="sapauthenticator:*" />

        <preference name="android-minSdkVersion" value="16" />
        <preference name="Orientation" value="default" />
        <preference name="CustomURLSchemePluginClearsAndroidIntent" value="true" />

        <hook type="after_platform_add" src="scripts/android/after_platform_add/prepareRestriction.js" />
        <hook type="before_plugin_install" src="scripts/android/before_plugin_install/manageManifest.js" />
        <hook type="after_prepare" src="scripts/android/after_prepare/addSupportabilityProperties.js" />
        <hook type="after_prepare" src="scripts/android/after_prepare/disableThreadedScrolling.js" />
    </platform>
    <platform name="ios">
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />

        <!-- iPad Pro Spotlight and Settings Icon -->
        <icon src="res/ios/icon-83.5@2x.png" width="167" height="167" />
        
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>

        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
        <splash src="res/screen/ios/Default@3x~universal~comany.png" />
        
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <preference name="Orientation" value="all" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarStyle" value="default" />
        <preference name="StatusBarBackgroundColor" value="#FFFFFF" />

        <hook type="after_prepare" src="scripts/ios/after_prepare/addRootPlist.js" />
    </platform>
    <platform name="windows">
        <preference name="BackgroundColor" value="0xffffffff" />
        <preference name="windows-target-version" value="10.0" />
        <preference name="windows-phone-target-version" value="10.0" />
        
        <hook type="before_prepare" src="scripts/windows/before_prepare/install_npm_packages.js" />
        <hook type="after_plugin_add" src="scripts/windows/after_prepare/manageManifest.js" />
        <hook type="after_prepare" src="scripts/windows/after_prepare/addImageResources.js" />
        <hook type="after_prepare" src="scripts/windows/after_prepare/manageSolution.js" />
        <hook type="after_platform_add" src="scripts/windows/after_platform/createAppxManifest.js" />
    </platform>
</widget>
