<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="kapsel-plugin-usage"
    version="3.15.8">
    
    <name>Usage</name>

    <description>Collects information about how mobile end users interact with your mobile apps, details of the operating systems, and device platforms on which the apps are running. / Doc URL: https://uacp2.hana.ondemand.com/doc/d9c75eebcfa840c8a4aa4b0e6a8136de/3.0.14/en-US/39cb9fc095754ac6b354becc97ac7d62.html</description>

    <author>SAP SE</author>

    <license>SAP Mobile Platform SDK "License Agreement"</license>    

    <engines>
      <engine name="cordova" version="&gt;=6.5.0" />
      <engine name="cordova-android" version="&gt;=6.1.2" />
      <engine name="cordova-ios" version="&gt;=4.3.1" />
    </engines>

    <dependency id="kapsel-plugin-corelibs"/>
    <dependency id="kapsel-plugin-inappbrowser"/>
	<dependency id="kapsel-plugin-authproxy"/>
    <dependency id="kapsel-plugin-logon"/>
	<dependency id="kapsel-plugin-settings"/>
	<dependency id="kapsel-plugin-apppreferences"/>
	<dependency id="kapsel-plugin-i18n"/>
	<dependency id="cordova-plugin-dialogs"/>

    <js-module name="Usage" src="www/usage.js">
        <clobbers target="sap.Usage"/>
    </js-module>

    <asset target="plugins/kapsel-plugin-usage/www/messages.properties" src="www/messages.properties"/>
    <asset target="plugins/kapsel-plugin-usage/www/messages_en.properties" src="www/messages_en.properties"/>

	<platform name="android">
        <source-file src="android/libs/usage-android-3.15.8.aar" target-dir="libs"/>
        <source-file src="android/libs/Usage-3.15.6.aar" target-dir="libs"/>
        <framework src="net.zetetic:android-database-sqlcipher:3.5.4@aar" />
        <framework src="android/smp_usage.gradle" custom="true" type="gradleReference" />

		<config-file target="res/xml/config.xml" parent="/widget">
			<feature name="Usage">
				<param name="android-package" value="com.sap.mp.cordova.plugins.usage.UsagePlugin"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>
	</platform>
	<platform name="ios">
		<config-file target="config.xml" parent="/widget">
			<feature name="Usage">
				<param name="ios-package" value="SMPUsagePlugin"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>

        <source-file framework="true" src="ios/libs/libSMPUsagePlugin.a"/>
		<source-file framework="true" src="ios/libs/libUsage.a"/>
	</platform>
    <platform name="windows">
		<js-module src="windows/src/usage_proxy_win.js" name="usage_proxy_win">
          <merges target="usage_proxy_win" />
        </js-module>
		
		<!-- WIN 10 -->
        <resource-file src="windows/windows10/bin/SAP.Usage.winmd" target="plugins\kapsel-plugin-usage\windows10\bin\SAP.Usage.winmd" versions="&gt;8.1" reference="true"/>
		<resource-file src="windows/windows10/bin/SAP.CoreLibs.dll" target="plugins\kapsel-plugin-usage\windows10\bin\SAP.CoreLibs.dll" versions="&gt;8.1" reference="true"/>
        <framework src="windows/windows10/bin/SAP.Usage.Plugin.winmd" target-dir="windows10/bin" versions="&gt;8.1"/>
        
        <!-- WIN 8.1  -->
		<resource-file src="windows/windows81/bin/SAP.CoreLibs.dll" target="plugins\kapsel-plugin-usage\windows81\bin\SAP.CoreLibs.dll" versions="=8.1" reference="true"/>
		<resource-file src="windows/windows81/bin/SAP.Usage.winmd" target="plugins\kapsel-plugin-usage\windows81\bin\SAP.Usage.winmd" versions="=8.1" reference="true"/>
		<framework src="windows/windows81/bin/SAP.Usage.Plugin.winmd" target-dir="windows81/bin" versions="=8.1"/>
        
    </platform>
</plugin>
