<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="kapsel-plugin-cdsprovider"
    version="3.15.8">

  <name>CDSProvider</name>

  <description>The Certificate Delivery Services (CDS) provider is a Hybrid SDK (Kapsel) plugin that contacts the SAP Mobile Secure server to provide a clientside certificate. You can use this certificate to authenticate with SAP back-end systems. / Doc URL: https://uacp2.hana.ondemand.com/doc/d9c75eebcfa840c8a4aa4b0e6a8136de/3.0.14/en-US/0ad4596cb7cd4eb896e61af58f0b1d8e.html</description>

  <author>SAP SE</author>

  <license>SAP Mobile Platform SDK "License Agreement"</license>

  <engines>
    <engine name="cordova" version="&gt;=6.5.0" />
    <engine name="cordova-android" version="&gt;=6.1.2" />
    <engine name="cordova-ios" version="&gt;=4.3.1" />
  </engines>

  <dependency id="kapsel-plugin-logon"/>

  <platform name="android">
    <source-file src="android/libs/CDSProvider-3.15.6.aar" target-dir="libs"/>
    <source-file src="android/libs/core-1.52.0.0.jar" target-dir="libs"/>
    <source-file src="android/libs/prov-1.52.0.0.jar" target-dir="libs"/>
    <source-file src="android/libs/pkix-1.52.0.0.jar" target-dir="libs"/>

    <framework custom="true" src="android/cdsprovider.gradle" type="gradleReference"/>

    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <meta-data android:name="com.sap.mobilesecure.certificateService" android:value="com.sap.smp.client.android.cdsprovider.CDSProvider"/>
    </config-file>
  </platform>

  <platform name="ios">
    <source-file src="ios/libs/libCDSProvider.a" framework="true"/>

    <config-file target="*-Info.plist" parent="com.sap.mobilesecure.certificateService">
      <string>CDSProvider</string>
    </config-file>
  </platform>
</plugin>
